@page "/"

<PageTitle>Blazerp | Purchase</PageTitle>

<MudStack Row="true" Class="ma-3">
    <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" Label="File">
        <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Outlined.Refresh">Refresh</MudMenuItem>
        <MudDivider />
        <MudMenuItem Icon="@Icons.Material.Outlined.Add" IconSize="Size.Small">Create supplier...</MudMenuItem>
        <MudDivider />
        <MudMenuItem Icon="@Icons.Material.Outlined.List">All orders...</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Outlined.List">All invoices and creditnotes...</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Outlined.List">All agreements...</MudMenuItem>
        <MudDivider />
        <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Outlined.ExitToApp">Log out</MudMenuItem>
    </MudMenu>
    <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" Label="Extra">
        <MudMenuItem>Placeholder</MudMenuItem>
    </MudMenu>
</MudStack>

<MudDivider Class="flex-grow-0" />

<div class="d-flex flex-grow-1 flex-row">
    <!-- Search -->
    <div class="d-flex flex-column" style="width: 512px;">
        <MudStack Class="pa-6 flex-grow-1">
            <MudText Typo="Typo.h5" Class="mb-1">Search</MudText>

            <MudGrid Spacing="2">
                <MudItem xs="12" md="6">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Label="VAT number" T="string"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Label="Supplier name" T="string"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Label="Limit" T="int" Value="100" InputMode="InputMode.numeric"></MudTextField>
                </MudItem>
            </MudGrid>
        </MudStack>

        <MudText Typo="Typo.h5" Class="mb-1 ps-6 flex-grow-1">Suppliers</MudText>
             
        <MudDataGrid Elevation="0" Class="flex-grow-1 overflow-auto" Style="min-height: 0;" Items="@SupplierNames">
            <Columns>
                <PropertyColumn Property="x => x" Title="Name" />
            </Columns>
        </MudDataGrid>
    </div>

    <!-- Divider -->
    <MudDivider Vertical="true" Class="flex-grow-0" />

    <!-- Content -->
    <div class="flex-grow-1">
        <MudText Align="Align.Center" Class="ma-16">Content</MudText>
    </div>

</div>

<footer class="flex-grow-1">
    <MudDivider />

    <MudText>Footer</MudText>
</footer>

@code {
    private List<string> SupplierNames = [];

    protected override async Task OnInitializedAsync()
    {
        for(int i = 0; i < 100; i++)
        {
            SupplierNames.Add($"Supplier #{i}");
        }

        await base.OnInitializedAsync();
    }
}