@using Repositories;
@using Models;

@page "/"

@inject ISupplierRepository supplierRepository;

<PageTitle>Blazerp | Purchase</PageTitle>

<MudStack Row="true" Class="ma-2">
    <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" Label="File">
        <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Outlined.Refresh">Refresh</MudMenuItem>
        <MudDivider />
        <MudMenuItem Icon="@Icons.Material.Outlined.Add" IconSize="Size.Small">Create supplier...</MudMenuItem>
        <MudDivider />
        <MudMenuItem Icon="@Icons.Material.Outlined.List">All orders...</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Outlined.List">All invoices and creditnotes...</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Outlined.List">All agreements...</MudMenuItem>
        <MudDivider />
        <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Outlined.ExitToApp">Log out</MudMenuItem>
    </MudMenu>
    <MudMenu AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" Label="Extra">
        <MudMenuItem>Placeholder</MudMenuItem>
    </MudMenu>
</MudStack>

<MudDivider Class="flex-grow-0" />

<div class="d-flex flex-grow-1 flex-row">
    <!-- Left - Search -->
    <div class="d-flex flex-column align-stretch" style="width: 512px; min-height: 0;">
        <MudStack Class="pa-4">
            <MudText Typo="Typo.h5" Class="mb-1">Search</MudText>

            <MudGrid Spacing="2">
                <MudItem xs="12" md="6">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Label="VAT number" T="string"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Label="Supplier name" T="string"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Label="Limit" T="int" Value="100" InputMode="InputMode.numeric"></MudTextField>
                </MudItem>
            </MudGrid>
        </MudStack>

        <MudText Typo="Typo.h5" Class="mb-1 ps-4">Suppliers</MudText>
             
        <MudTable Elevation="0" Items="@Suppliers" FixedHeader="true" Style="height: 100px; width: 100%;" Class="d-flex flex-grow-1">
            <ColGroup>
                <col style="width: 10%;" />
                <col style="width: 128px;" />
                <col style="width: 10%;" />
            </ColGroup>
            <HeaderContent>
                <MudTh>VAT</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Balance</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="VAT">@context.VatNumber</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Balance" Style="text-align:right">@context.Balance.ToString("N2")</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <!-- Divider -->
    <MudDivider Vertical="true" Class="flex-grow-0" />

    <!-- Right - Content -->
    <div class="flex-grow-1">
        <MudText Align="Align.Center" Class="ma-16 flex-grow-1">Content</MudText>
    </div>

</div>

<footer>
    <MudDivider />

    <MudText>Footer</MudText>
</footer>

@code {
    private List<Supplier> Suppliers = [];

    protected override async Task OnInitializedAsync()
    {
        Suppliers = await supplierRepository.Search();
    }
}